header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: grey;
    border: 2px solid;
    height: 150px;
    width: 100%;
    background-image: url("assets\images\header-background.jpg")
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 48px;
    padding: 0 0 0 70px;
    flex: 1.5 1 700px;
    min-width: 0;
}

nav {
    display: flex;
    flex: 1 0 0;
    padding: 0 10px 0 0;
}

nav a {
   flex: 1 0 33%;
   text-align: right;
   padding: 3px;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border: 2px solid;
    width: 20%;
    min-width: 144px;
}

.aside-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    width: 100%;
    flex: 0 0 500px;
}

.aside-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    width: 100%;
    height: 100%;
}

main {
    border: 2px solid;
    width: 80%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    width: auto;
    border: 2px solid;
}

.foot-div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border: 2px solid;
    width: 20%;
    min-width: 144px;
}

.foot-div2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid;
    width: 80%;
}

.foot-div2 a {
    padding: 20px;
}

.align {
    display: flex;
}

.biography {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid;
}

#bio-photo {
    padding: 15px;
    width: 25%;
    height: auto;
    min-width: 0;
    max-width: 325px;
    flex: 0 1 325px;
}

#bio-article {
    text-align: center;
    flex: 1 0 0;
}

#bio-article h2 {
    padding: 20px;
    font-size: 28px;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid;
}

.project1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    margin: 80px 0;
}

#project1 {
    padding: 15px;
    border: 2px solid;
    height: auto;
    max-width: 100%;
    min-width: 0;
}

.other-projects {
    border: 2px solid;
    width: 100%;
    min-width: 0;
    max-width: 30%;
    margin: 15px;
}

#other-projects {
    height: auto;
    max-width: 100%;
    min-width: 0;
}