* {
    font-family: consolas, 'Courier New', Courier, monospace;
    color: antiquewhite;
}

/* Elements */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("../images/header-background1.jpg");
    background-size: auto;
    border-bottom: 2px solid;
    height: 150px;
    width: 100%;
    font-family: consolas, 'Courier New', Courier, monospace;
}

nav {
    display: flex;
    flex: 1 0 0;
    padding: 0 70px 0 0;
}

h1 {
    font-size: 48px;
    padding: 0 0 0 70px;
    flex: 1.5 1 700px;
    min-width: 0;
}

h2 {
    font-size: 32px;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border-right: 2px solid;
    width: 20%;
    min-width: 161px;
}

main {
    width: 80%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    width: auto;
}

/* End of Elements */

/* Sub-Elements */
nav a {
    flex: 1 0 33%;
    text-align: right;
    padding: 2px;
    margin: 4px;
    text-decoration: none;
    font-size: 28px;
}

/* End of Sub-Elements */

/* Pseudo-Sub-Elements */
nav a:hover {
     color: darkviolet;
}

/* End of Pseudo-Sub-Elements */

/* Classes in order of appearance in HTML */
.align {
    display: flex;
}

.aside-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 0 0 500px;
    background-image: url("../images/aside-top-background.jpg");
    background-size: cover;
}

.aside-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("../images/aside-bottom-background.jpg");
    background-size: contain;
}

.biography {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("../images/bio-background.jpg");
    background-size: contain;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../images/projects-background.jpg");
    background-size: contain;
}

.project1 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    margin: 80px 0;
}

.project1-position {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: #05163a;
    font-size: 22px;
    height: auto;
    min-height: 0;
    width: auto;
    flex: 0 1 0;
    padding: 10px;
}

.other-projects {
    min-width: 0;
    max-width: 50%;
    margin: 15px;
}

.other-projects-position {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.other-projects-img {
    height: auto;
    max-width: 100%;
    min-width: 0;
}

.text-block2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #05163a;
    font-size: 22px;
    height: auto;
    min-height: 0;
    width: auto;
    flex: 0 1 0;
    padding: 4px;
}

.foot-div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    border-right: 2px solid;
    width: 20%;
    min-width: 161px;
    background-image: url("../images/aside-bottom-background.jpg");
    background-size: auto;
}

.foot-div2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 2px solid;
    width: 80%;
    background-image: url("../images/projects-background.jpg");
    background-size: cover;
}

/* End of Classes */

/* Pseudo-Classes */
.other-projects-img:hover {
    transform: scale(1.1);
}

/* End of Pseudo-Classes */

/* Classes with Sub-Elements */
.text-block h3 {
    font-size: 24px;
}

.foot-div2 a {
    padding: 25px;
    text-decoration: none;
    font-size: 28px;
}

/* End of Classes with Sub-Elements */

/* Pseudo Classes with Sub-Elements */
.foot-div2 a:hover {
    color: darkviolet;
}

/* End of Pseudo Classes with Sub-Elements */

/* IDs */
#bio-photo {
    padding: 15px;
    width: 100%;
    min-width: 0;
    max-width: 325px;
}

#bio-article {
    text-align: center;
    flex: 1 1 0;
    font-size: 20px;
}

#project1 {
    padding: 15px;
    height: auto;
    max-width: 100%;
    min-width: 0;
}

/* End of IDs */

/* Pseudo-IDs */
#bio-photo:hover {
    transform: scale(1.1);
}

#project1:hover {
    transform: scale(1.1);
}

/* End of Pseudo-IDs */

/* ID Sub-Elements */
#bio-article h2 {
    padding: 20px;
    font-size: 28px;
}

/* End of ID Sub-Elements */